.app {
     /* Add app styles here */
}

.iteration-summary tr td {
	border:1px solid #427BD6;
	border-collapse: collapse;
	padding : 3px;
	text-align : center;
}

.iteration-summary {
	height : 100px;
	border:1px solid #427BD6;
	border-collapse: collapse;
	padding : 10px;
}

.wrap .x-grid-cell-inner {
    white-space: normal;
}